<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.dao.YuangongxinxiDao">
	<resultMap id="BaseResultMap" type="com.smart.pojo.Yuangongxinxi">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="xingming" property="xingming" jdbcType="VARCHAR" />
		<result column="ruzhiriqi" property="ruzhiriqi" jdbcType="DATE" />
		<result column="bumen" property="bumen" jdbcType="VARCHAR" />
		<result column="zhiwu" property="zhiwu" jdbcType="VARCHAR" />
		<result column="zhiji" property="zhiji" jdbcType="VARCHAR" />
		<result column="gognzifangan" property="gognzifangan" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="weixin" property="weixin" jdbcType="VARCHAR" />
		<result column="beixianlianxiren" property="beixianlianxiren" jdbcType="VARCHAR" />
		<result column="beixuanlianxirenTel" property="beixuanlianxirentel" jdbcType="VARCHAR" />
		<result column="xiaoqu" property="xiaoqu" jdbcType="VARCHAR" />
		<result column="xueli" property="xueli" jdbcType="VARCHAR" />
		<result column="quanzhi" property="quanzhi" jdbcType="VARCHAR" />
		<result column="zhengjianhaoma" property="zhengjianhaoma" jdbcType="VARCHAR" />
		<result column="shanchengxueke" property="shanchengxueke" jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryAllTeacher" resultType="com.smart.pojo.Yuangongxinxi" parameterType="com.smart.pojo.Yuangongxinxi">
		select * from yuangongxinxi A where 1=1 AND A.xingming = #{xingming}
	</select>

</mapper>